body {
	background-color: rgba(255, 248, 220, 0.301);

	font-family: "Garamond", "Monospace", "Lucida Console", "Courier New";

	font-size: 16px;
	line-height: 1.6;
	color: #333;
	background-color: #f9f9f9;
	margin: 0;
	padding: 20px;
}

ul {
	list-style-type: none;
	text-align: left;
}

input[type="number"] {
	width: 75px;
}

h3 input {
	text-align: center;
}

#add-item-modal {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
  
	opacity: 0;
	pointer-events: none;
  
	transform: translate(-50%, -50%);
	transition: opacity .3s;
  
	padding: 20px;
	max-width: 90%;
	z-index: 1000;
  
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background-color: #f0f8ff; /* AliceBlue */
	border: 1px solid #dcdcdc; /* Gainsboro */
  }
  
  #add-item-modal.visible {
	opacity: 1;
	pointer-events: initial;
  
	background-color: rgb(228, 216, 240);
	border-radius: 10px;
  
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	padding: 30px;
	max-width: 80%;
	z-index: 1050;
  
	border: 2px solid #8a2be2; /* BlueViolet */
	color: #333333; /* Dark text */
	background-image: linear-gradient(to bottom right, #ff7f50, #6495ed); /* Coral to CornflowerBlue */
  }
  

  #edit-item-modal {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
  
	opacity: 0;
	pointer-events: none;
  
	transform: translate(-50%, -50%);
	transition: opacity .3s;
  
	padding: 20px;
	max-width: 90%;
	z-index: 1000;
  
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background-color: #f0f8ff; /* AliceBlue */
	border: 1px solid #dcdcdc; /* Gainsboro */
  }
  
  #edit-item-modal.visible {
	opacity: 1;
	pointer-events: initial;
  
	background-color: rgb(228, 216, 240);
	border-radius: 10px;
  
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	padding: 30px;
	max-width: 80%;
	z-index: 1050;
  
	border: 2px solid #8a2be2; /* BlueViolet */
	color: #333333; /* Dark text */
	background-image: linear-gradient(to bottom right, #ff7f50, #6495ed); /* Coral to CornflowerBlue */
  }

  button {
	padding: 10px 20px;
	margin: 5px;
	
	background-color: rgb(21, 20, 102);
	color: white;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
	background-color: rgb(41, 40, 122);
	transform: translateY(-2px);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
  
  button:active {
	background-color: rgb(11, 10, 82);
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

